<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>{{title}}</title>
  <script src="https://kit.fontawesome.com/b0f29e9bfe.js"></script>
  <link rel="icon" href="/images/logo.png">

  <style type="text/css">
    @font-face {
      font-family: 'rbicon';
      src: url(chrome-extension://dipiagiiohfljcicegpgffpbnjmgjcnf/fonts/rbicon.woff2) format("woff2");
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>
</html>