<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="icon" href="/images/logo.png">
  <style>
    img {
      background: url('images/loading.gif') no-repeat;
      background-size: 10vw 10vw;
      background-attachment: fixed;
      background-position: center; 
    }
  </style>
</head>

<body>
  {{{body}}}
</body>
</html>