<head>
  <link rel="stylesheet" href="./css/book.css">
  <script src="scripts/book.js" defer></script>
</head>
<div id="filler" class="paper"></div>
<div class="book-container">
  <div id="book" class="book">
    {{#each paths}}
    <div class="paper">
      <div class="front">
        <div class="front-content">
          <img src="{{this.front}}">
        </div>
      </div>
      <div class="back">
        <div class="back-content">
          <img src="{{this.back}}">
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div id="clue">
    &#8593; Click the page to navigate &#8593;
  </div>
</div>