* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

.book-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: azure;
}

.book {
    position: relative;
    width: 30vw;
    height: 42.42vw;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

img {
    width: 100%;
    height: 100%;
}

#filler {
    display: none;
}

#clue {
    color: azure;
    margin-top: 0.3vw;
    padding: 0.3vw;
    font-size: 1.5vw;
}